<a href="https://colab.research.google.com/github/Seungjik-Lee/Python_Deep-Learning-Youtube/blob/main/Convolution_Layer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conv2D

## 라이브러리 사용

In [1]:
import tensorflow as tf
import pandas as pd

## 데이터 준비

In [2]:
(Depc, Indepc), _ = tf.keras.datasets.mnist.load_data()

print(Depc.shape, Indepc.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
11501568/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)

In [3]:
Depc = Depc.reshape(60000, 28, 28, 1)
Indepc = pd.get_dummies(Indepc)

print(Depc.shape, Indepc.shape)

(60000, 28, 28, 1) (60000, 10)

## 모델 만들기

In [4]:
X = tf.keras.layers.Input(shape=[28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

## 모델 학습

In [5]:
model.fit(Depc, Indepc, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 41s 5ms/step - loss: 0.5900 - accuracy: 0.9348
Epoch 2/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0836 - accuracy: 0.9772
Epoch 3/10
1875/1875 [==============================] - 9s 5ms/step - loss: 0.0556 - accuracy: 0.9848
Epoch 4/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0406 - accuracy: 0.9891
Epoch 5/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0317 - accuracy: 0.9914
Epoch 6/10
1875/1875 [==============================] - 9s 5ms/step - loss: 0.0269 - accuracy: 0.9930
Epoch 7/10
1875/1875 [==============================] - 9s 5ms/step - loss: 0.0246 - accuracy: 0.9936
Epoch 8/10
1875/1875 [==============================] - 9s 5ms/step - loss: 0.0207 - accuracy: 0.9945
Epoch 9/10
1875/1875 [==============================] - 10s 5ms/step - loss: 0.0186 - accuracy: 0.9952
Epoch 10/10
1875/1875 [==============================] - 9s 5ms/step - loss: 0.0184 - accuracy: 0.9955

## 모델 이용

In [6]:
predc = model.predict(Depc[0:5])
pd.DataFrame(predc).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

## 확인

In [7]:
Indepc[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

## 모델 확인

In [8]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten (Flatten)            (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 84)                201684
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________