<a href="https://colab.research.google.com/github/Seungjik-Lee/Python_Deep-Learning-Youtube/blob/main/Flatten_Layer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Flatten Layer를 활용한 이미지 학습

## 이미지 학습 with reshape

### 라이브러리 사용

In [10]:
import tensorflow as tf
import pandas as pd

### 데이터 준비

In [2]:
(Dep, Indep), _ = tf.keras.datasets.mnist.load_data()
print(Dep.shape, Indep.shape)

Dep = Dep.reshape(60000, 784)
Indep = pd.get_dummies(Indep)
print(Dep.shape, Indep.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
11501568/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

### 모델 만들기

In [3]:
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

### 모델 학습

In [4]:
model.fit(Dep, Indep, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 2.2800 - accuracy: 0.8536
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5337 - accuracy: 0.9159
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4631 - accuracy: 0.9319
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4202 - accuracy: 0.9368
Epoch 5/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.4035 - accuracy: 0.9423
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3980 - accuracy: 0.9450
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.3722 - accuracy: 0.9473
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.3703 - accuracy: 0.9491
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3482 - accuracy: 0.9489
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3492 - accuracy: 0.9510

### 모델 이용

In [7]:
pred = model.predict(Dep[0:5])

In [8]:
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [9]:
Indep[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

## 이미지 학습 with flatten

### 라이브러리 사용

In [21]:
import tensorflow as tf
import pandas as pd

### 데이터 준비

In [11]:
(Depf, Indepf), _ = tf.keras.datasets.mnist.load_data()
Indepf = pd.get_dummies(Indepf)
print(Depf.shape, Indepf.shape)

(60000, 28, 28) (60000, 10)

### 모델 만들기

In [13]:
X = tf.keras.layers.Input(shape=[28, 28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

### 모델 학습

In [15]:
model.fit(Depf, Indepf, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 2.4099 - accuracy: 0.8520
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5646 - accuracy: 0.9177
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4716 - accuracy: 0.9299
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4375 - accuracy: 0.9366
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4135 - accuracy: 0.9412
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3970 - accuracy: 0.9444
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3658 - accuracy: 0.9474
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3821 - accuracy: 0.9463
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3668 - accuracy: 0.9496
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3617 - accuracy: 0.9516

### 모델 이용

In [18]:
predf = model.predict(Depf[0:5])

In [19]:
pd.DataFrame(predf).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [20]:
Indepf[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1