<a href="https://colab.research.google.com/github/Seungjik-Lee/Python_Deep-Learning-Youtube/blob/main/LeNet5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LeNet5

## MNIST 사용

### 라이브러리 사용

In [1]:
import tensorflow as tf
import pandas as pd

### 데이터 준비

In [3]:
(DepL, IndepL), _ = tf.keras.datasets.mnist.load_data()
DepL = DepL.reshape(60000, 28, 28, 1)
IndepL = pd.get_dummies(IndepL)

print(DepL.shape, IndepL.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
11501568/11490434 [==============================] - 0s 0us/step
(60000, 28, 28, 1) (60000, 10)

### 모델 완성

In [4]:
X = tf.keras.layers.Input(shape=[28, 28, 1])
 
H = tf.keras.layers.Conv2D(6, kernel_size=5, padding='same', activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Conv2D(16, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(120, activation='swish')(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
 
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

### 모델 학습

In [5]:
model.fit(DepL, IndepL, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 37s 19ms/step - loss: 0.3103 - accuracy: 0.9363
Epoch 2/10
1875/1875 [==============================] - 37s 20ms/step - loss: 0.0932 - accuracy: 0.9752
Epoch 3/10
1875/1875 [==============================] - 37s 20ms/step - loss: 0.0781 - accuracy: 0.9803
Epoch 4/10
1875/1875 [==============================] - 38s 20ms/step - loss: 0.0686 - accuracy: 0.9831
Epoch 5/10
1875/1875 [==============================] - 37s 20ms/step - loss: 0.0668 - accuracy: 0.9845
Epoch 6/10
1875/1875 [==============================] - 38s 20ms/step - loss: 0.0661 - accuracy: 0.9849
Epoch 7/10
1875/1875 [==============================] - 37s 20ms/step - loss: 0.0627 - accuracy: 0.9869
Epoch 8/10
1875/1875 [==============================] - 36s 19ms/step - loss: 0.0696 - accuracy: 0.9859
Epoch 9/10
1875/1875 [==============================] - 36s 19ms/step - loss: 0.0682 - accuracy: 0.9860
Epoch 10/10
1875/1875 [==============================] - 38s 20ms/step - loss: 0.0710 - accuracy: 0.9859

### 모델 이용

In [6]:
predL = model.predict(DepL[0:5])
pd.DataFrame(predL).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

### 확인

In [7]:
IndepL[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

### 모델 확인

In [8]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 28, 28, 6)         156
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 14, 14, 6)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 10, 10, 16)        2416
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 5, 5, 16)          0
_________________________________________________________________
flatten (Flatten)            (None, 400)               0
_________________________________________________________________
dense (Dense)                (None, 120)               48120
_________________________________________________________________
dense_1 (Dense)              (None, 84)                10164
_________________________________________________________________
dense_2 (Dense)              (None, 10)                850
=================================================================
Total params: 61,706
Trainable params: 61,706
Non-trainable params: 0
_________________________________________________________________

## CIFAR10 사용

### 라이브러리 사용

In [9]:
import tensorflow as tf
import pandas as pd

### 데이터 준비

In [10]:
(DepL, IndepL), _ = tf.keras.datasets.cifar10.load_data()
IndepL = pd.get_dummies(IndepL.reshape(50000))

print(DepL.shape, IndepL.shape)

Downloading data from https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz
170500096/170498071 [==============================] - 4s 0us/step
170508288/170498071 [==============================] - 4s 0us/step
(50000, 32, 32, 3) (50000, 10)

### 모델 완성

In [11]:
X = tf.keras.layers.Input(shape=[32, 32, 3])
 
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Conv2D(16, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(120, activation='swish')(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
 
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

### 모델 학습

In [12]:
model.fit(DepL, IndepL, epochs=10)

Epoch 1/10
1563/1563 [==============================] - 38s 24ms/step - loss: 1.9975 - accuracy: 0.3077
Epoch 2/10
1563/1563 [==============================] - 37s 24ms/step - loss: 1.5686 - accuracy: 0.4400
Epoch 3/10
1563/1563 [==============================] - 37s 24ms/step - loss: 1.4646 - accuracy: 0.4833
Epoch 4/10
1563/1563 [==============================] - 37s 23ms/step - loss: 1.4074 - accuracy: 0.5073
Epoch 5/10
1563/1563 [==============================] - 37s 24ms/step - loss: 1.3751 - accuracy: 0.5200
Epoch 6/10
1563/1563 [==============================] - 37s 24ms/step - loss: 1.3601 - accuracy: 0.5275
Epoch 7/10
1563/1563 [==============================] - 37s 24ms/step - loss: 1.3446 - accuracy: 0.5351
Epoch 8/10
1563/1563 [==============================] - 37s 24ms/step - loss: 1.3291 - accuracy: 0.5421
Epoch 9/10
1563/1563 [==============================] - 37s 24ms/step - loss: 1.3315 - accuracy: 0.5432
Epoch 10/10
1563/1563 [==============================] - 37s 23ms/step - loss: 1.3193 - accuracy: 0.5495

### 모델 이용

In [13]:
predL = model.predict(DepL[0:5])
pd.DataFrame(predL).round(2)

      0     1     2     3     4     5     6     7     8     9
0  0.00  0.00  0.04  0.16  0.01  0.02  0.76  0.00  0.00  0.00
1  0.06  0.01  0.01  0.00  0.00  0.00  0.00  0.00  0.24  0.69
2  0.09  0.02  0.04  0.09  0.01  0.21  0.00  0.05  0.44  0.05
3  0.01  0.00  0.12  0.13  0.34  0.09  0.27  0.01  0.01  0.00
4  0.15  0.13  0.02  0.02  0.04  0.01  0.00  0.04  0.06  0.53

### 확인

In [14]:
IndepL[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  1  0  0  0
1  0  0  0  0  0  0  0  0  0  1
2  0  0  0  0  0  0  0  0  0  1
3  0  0  0  0  1  0  0  0  0  0
4  0  1  0  0  0  0  0  0  0  0

### 모델 확인

In [15]:
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 32, 32, 3)]       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 28, 28, 6)         456
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 14, 14, 6)         0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 10, 10, 16)        2416
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 5, 5, 16)          0
_________________________________________________________________
flatten_1 (Flatten)          (None, 400)               0
_________________________________________________________________
dense_3 (Dense)              (None, 120)               48120
_________________________________________________________________
dense_4 (Dense)              (None, 84)                10164
_________________________________________________________________
dense_5 (Dense)              (None, 10)                850
=================================================================
Total params: 62,006
Trainable params: 62,006
Non-trainable params: 0
_________________________________________________________________