<a href="https://colab.research.google.com/github/Seungjik-Lee/Python_Deep-Learning-Youtube/blob/main/My_Image.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 내 이미지 사용

## 이미지 다운로드

In [1]:
!wget -q http://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/notMNIST_small.tar.gz
!tar -xzf notMNIST_small.tar.gz

## 라이브러리 사용

In [2]:
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

## 이미지 읽어서 데이터 준비하기

In [8]:
paths = glob.glob('./notMNIST_small/*/*.png')
paths = np.random.permutation(paths)
DepI = np.array([plt.imread(paths[i]) for i in range(len(paths))])
IndepI = np.array([paths[i].split('/')[-2] for i in range(len(paths))])

print(DepI.shape, IndepI.shape)

(18724, 28, 28) (18724,)

In [9]:
DepI = DepI.reshape(18724, 28, 28, 1)
IndepI = pd.get_dummies(IndepI)

print(DepI.shape, IndepI.shape)

(18724, 28, 28, 1) (18724, 10)

## 모델 완성

In [10]:
X = tf.keras.layers.Input(shape=[28, 28, 1])
 
H = tf.keras.layers.Conv2D(6, kernel_size=5, padding='same', activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Conv2D(16, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(120, activation='swish')(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
 
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

## 모델 학습

In [11]:
model.fit(DepI, IndepI, epochs=10)

Epoch 1/10
586/586 [==============================] - 15s 23ms/step - loss: 0.5278 - accuracy: 0.8465
Epoch 2/10
586/586 [==============================] - 14s 23ms/step - loss: 0.2664 - accuracy: 0.9212
Epoch 3/10
586/586 [==============================] - 14s 23ms/step - loss: 0.2089 - accuracy: 0.9374
Epoch 4/10
586/586 [==============================] - 14s 23ms/step - loss: 0.1712 - accuracy: 0.9474
Epoch 5/10
586/586 [==============================] - 14s 23ms/step - loss: 0.1472 - accuracy: 0.9537
Epoch 6/10
586/586 [==============================] - 14s 23ms/step - loss: 0.1239 - accuracy: 0.9606
Epoch 7/10
586/586 [==============================] - 14s 23ms/step - loss: 0.1057 - accuracy: 0.9673
Epoch 8/10
586/586 [==============================] - 14s 23ms/step - loss: 0.0872 - accuracy: 0.9724
Epoch 9/10
586/586 [==============================] - 14s 23ms/step - loss: 0.0745 - accuracy: 0.9766
Epoch 10/10
586/586 [==============================] - 13s 23ms/step - loss: 0.0608 - accuracy: 0.9805

## 모델 이용

In [12]:
predI = model.predict(DepI[0:5])
pd.DataFrame(predI).round(2)

     0    1    2    3     4     5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.00  1.00  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  1.00  0.00  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.00  0.00  1.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.98  0.02  0.0  0.0  0.0  0.0
4  0.0  1.0  0.0  0.0  0.00  0.00  0.0  0.0  0.0  0.0

## 확인

In [13]:
IndepI[0:5]

   A  B  C  D  E  F  G  H  I  J
0  0  0  0  0  0  1  0  0  0  0
1  0  0  0  0  1  0  0  0  0  0
2  0  0  0  0  0  0  1  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  1  0  0  0  0  0  0  0  0

## 모델 확인

In [14]:
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 28, 28, 6)         156
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 14, 14, 6)         0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 10, 10, 16)        2416
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 5, 5, 16)          0
_________________________________________________________________
flatten_1 (Flatten)          (None, 400)               0
_________________________________________________________________
dense_3 (Dense)              (None, 120)               48120
_________________________________________________________________
dense_4 (Dense)              (None, 84)                10164
_________________________________________________________________
dense_5 (Dense)              (None, 10)                850
=================================================================
Total params: 61,706
Trainable params: 61,706
Non-trainable params: 0
_________________________________________________________________