<a href="https://colab.research.google.com/github/Seungjik-Lee/Python_Deep-Learning-Youtube/blob/main/Pandas_%EC%82%AC%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 라이브러리 임포트

In [1]:
import pandas as pd

# 파일 데이터 읽어오기

In [3]:
Lemonade_filepath = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
Lemonade = pd.read_csv(Lemonade_filepath)

Boston_filepath = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
Boston = pd.read_csv(Boston_filepath)

Iris_filepath = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
Iris = pd.read_csv(Iris_filepath)

# 데이터 모양 확인하기

In [4]:
print(Lemonade.shape)
print(Boston.shape)
print(Iris.shape)

(6, 2)
(506, 14)
(150, 5)

# column 이름 출력

In [5]:
print(Lemonade.columns)
print(Boston.columns)
print(Iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

# 독립변수 종속변수 분리

In [6]:
Independent_variable = Lemonade[['온도']]
Dependent_variable = Lemonade[['판매량']]
print(Independent_variable.shape, Dependent_variable)

Independent_variable = Boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
Dependent_variable = Boston[['medv']]
print(Independent_variable.shape, Dependent_variable)

Independent_variable = Iris[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
Dependent_variable = Iris[['품종']]
print(Independent_variable.shape, Dependent_variable)

(6, 1)    판매량
0   40
1   42
2   44
3   46
4   48
5   50
(506, 13)      medv
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]
(150, 4)             품종
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

# 상위 5개의 데이터 보기

In [8]:
Lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [9]:
Boston.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [10]:
Iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa