<a href="https://colab.research.google.com/github/Seungjik-Lee/Python_Deep-Learning-Youtube/blob/main/Pooling_Layer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MaxPool2D

## 라이브러리 사용

In [1]:
import tensorflow as tf
import pandas as pd

## 데이터 준비

In [2]:
(Depp, Indepp), _ = tf.keras.datasets.mnist.load_data()

print(Depp.shape, Indepp.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
11501568/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)

In [3]:
Depp = Depp.reshape(60000, 28, 28, 1)
Indepp = pd.get_dummies(Indepp)

print(Depp.shape, Indepp.shape)

(60000, 28, 28, 1) (60000, 10)

## 모델 만들기

In [4]:
X = tf.keras.layers.Input(shape=[28, 28, 1])
 
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)
 
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

## 모델 학습

In [5]:
model.fit(Depp, Indepp, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 25s 13ms/step - loss: 0.5456 - accuracy: 0.8986
Epoch 2/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.1309 - accuracy: 0.9607
Epoch 3/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.1046 - accuracy: 0.9685
Epoch 4/10
1875/1875 [==============================] - 25s 13ms/step - loss: 0.0907 - accuracy: 0.9720
Epoch 5/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0838 - accuracy: 0.9738
Epoch 6/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0792 - accuracy: 0.9764
Epoch 7/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0751 - accuracy: 0.9785
Epoch 8/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0743 - accuracy: 0.9779
Epoch 9/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0693 - accuracy: 0.9802
Epoch 10/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0708 - accuracy: 0.9794

## 모델 이용

In [6]:
predp = model.predict(Depp[0:5])
pd.DataFrame(predp).round(2)

     0    1    2     3    4     5    6    7    8    9
0  0.0  0.0  0.0  0.06  0.0  0.94  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.00  0.0  0.00  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.00  1.0  0.00  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.00  0.0  0.00  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.00  0.0  0.00  0.0  0.0  0.0  1.0

## 확인

In [7]:
Indepp[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

## 모델 확인

In [8]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 3)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 8, 8, 6)           456
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 4, 4, 6)           0
_________________________________________________________________
flatten (Flatten)            (None, 96)                0
_________________________________________________________________
dense (Dense)                (None, 84)                8148
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________