<a href="https://colab.research.google.com/github/Seungjik-Lee/Python_Deep-Learning-Youtube/blob/main/%EB%B3%B4%EC%8A%A4%ED%84%B4_%EC%A7%91%EA%B0%92_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 라이브러리 임포트

In [1]:
import tensorflow as tf
import pandas as pd

# 데이터 준비

In [2]:
Boston_filepath = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
Boston_data = pd.read_csv(Boston_filepath)
print(Boston_data.columns)                                                      # column명 출력
Boston_data.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

# 독립변수, 종속변수 분리

In [4]:
Independent_variable = Boston_data[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
Dependent_variable = Boston_data[['medv']]
print(Independent_variable.shape, Dependent_variable)

(506, 13)      medv
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

# 모델 만들기

In [5]:
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)

model = tf.keras.models.Model(X, Y)
model.compile(loss = 'mse')

# 모델 학습

In [6]:
model.fit(Independent_variable, Dependent_variable, epochs = 1000, verbose = 0)
model.fit(Independent_variable, Dependent_variable, epochs = 10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 26.4749
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 26.3760
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 26.5584
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 26.8122
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 26.5913
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 26.4410
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 26.2698
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 26.4737
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 26.7891
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 26.6503

# 모델 이용

In [7]:
model.predict(Independent_variable[0:5])                                        #독립변수의 0번째부터 5번째까지

array([[28.976143],
       [24.41027 ],
       [30.071884],
       [29.419907],
       [28.786324]], dtype=float32)

In [8]:
Dependent_variable[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

# 모델 수식 확인

In [9]:
model.get_weights()

[array([[-0.08955926],
        [ 0.07381596],
        [-0.06273887],
        [ 3.4303894 ],
        [ 1.6987693 ],
        [ 3.971316  ],
        [ 0.01546644],
        [-0.92030174],
        [ 0.1438844 ],
        [-0.00980793],
        [ 0.05159381],
        [ 0.01566487],
        [-0.5805454 ]], dtype=float32), array([2.1668406], dtype=float32)]