<a href="https://colab.research.google.com/github/Seungjik-Lee/Python_Deep-Learning-Youtube/blob/main/%ED%9E%88%EB%93%A0%EB%A0%88%EC%9D%B4%EC%96%B4_%EB%B3%B4%EC%8A%A4%ED%84%B4_%EC%A7%91%EA%B0%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 라이브러리 임포트

In [ ]:
import tensorflow as tf
import pandas as pd

# 데이터 준비

In [ ]:
Boston_filepath = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
Boston_data = pd.read_csv(Boston_filepath)
print(Boston_data.columns)                                                      # column명 출력
Boston_data.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

# 독립변수, 종속변수 분리

In [ ]:
Independent_variable = Boston_data[['crim', 'zn', 'indus', 'chas',
                                    'nox', 'rm', 'age', 'dis', 'rad', 
                                    'tax', 'ptratio', 'b', 'lstat']]
Dependent_variable = Boston_data[['medv']]
print(Independent_variable.shape, Dependent_variable.shape)

(506, 13) (506, 1)

# 모델 만들기

In [ ]:
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10, activation='swish')(X) #activation : 활성함수, swish : 
Y = tf.keras.layers.Dense(1)(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss = 'mse')

# 모델 확인하기

In [ ]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense (Dense)                (None, 10)                140
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

# 모델 학습

In [ ]:
model.fit(Independent_variable, Dependent_variable, epochs = 1000, verbose = 0)
model.fit(Independent_variable, Dependent_variable, epochs = 10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 24.1679
Epoch 2/10
16/16 [==============================] - 0s 2ms/step - loss: 24.4064
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0029
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 23.7201
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 24.7497
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.9186
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 24.6577
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 23.5434
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 24.5742
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 24.9449

# 모델 이용하기

In [ ]:
print(model.predict(Independent_variable[:5]))

[[29.480804]
 [24.316925]
 [30.72895 ]
 [29.457771]
 [29.006145]]

In [ ]:
print(Dependent_variable[:5])

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2